:root{
    --background: rgba(51, 51, 51, 1);
    --backgroundObject: rgba(51, 51, 51, 0.2);
    --fontColor: #AAA
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    background: var(--background);
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.header{
    height: 10vh;
    font-size: 3.5rem;
    text-align: center;
    color: var(--fontColor);
    padding-top: 0;
}
.headerTitle{
    margin: 0;
    font-size: 4rem;
    padding-top: 0.4em;
    font-weight: 250;
}
.powerContainer{
    height: 80vh;
    justify-content: center;
    display: flex;
}
.power[type=range][orient=vertical]{
    -webkit-appearance: none; /* Chromium */
    transform: rotate(270deg) translateX(-30vh);
    width: 65vh;
    height: 20em;
    padding: 0 5px;
    overflow: hidden;
    background: linear-gradient(to right, var(--backgroundObject) 0%, rgba(130, 207, 208, 1) 00%, var(--backgroundObject) 00%, var(--backgroundObject) 100%);
    border: solid 0.1rem #82CFD0;
    border-radius: 5vh;
    outline: none;
    /*transition: background 450ms ease-in; todo immer emoji mittig zentzrieren*/
    backdrop-filter: blur(0.25em);
    -webkit-backdrop-filter: blur(0.25em);
}
.power::-webkit-slider-thumb {
    opacity: 0
}
/*
.power[type=range]::-webkit-slider-runnable-track {
    height: 5em;
    border: none;
    border-radius: 0.5em;
    background: #EFEFEF;
    color: #13bba4;
    box-shadow: none;
    -webkit-appearance: none;
    width: 10em;
}
.power[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #777;
    opacity: 0.75;
    transform: translateY(-10px);
    width: 0;
    height: 0;
    border-radius: 4em;
    border: none;
    box-shadow: 10px 0 0 80px #43e5f7;
    background: #434343;
    -webkit-appearance: none;
    cursor: ew-resize;
    overflow: hidden;
}
.power::-webkit-slider-runnable-track {
    background: green;
}

*/
.buttons{
    height:10vh;
    justify-content: space-evenly;
    display: flex;
}
button{
    border-radius: 50%;
    border: none;
    height: 8vh;
    width: 8vh;
    background: rgba(130, 207, 208, 0.5);
    opacity: 1;
    font-size: 4em;
}
.backgroundWrapper{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width:100vw;
}


.particle{
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    right: 50vh;
    bottom: 50vw;
}
