body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.header{
    height: 10vh;
    font-size: 3.5rem;
    text-align: center;
}
.powerContainer{
    height: 80vh;
    justify-content: center;
    display: flex;
}
.power[type=range][orient=vertical]{
    -webkit-appearance: none; /* Chromium */
    transform: rotate(270deg) translateX(-35%);
    width: 90%;
    height: 30%;
    padding: 0 5px;
    overflow: hidden;
    background: linear-gradient(to right, #FFF 0%, #82CFD0 00%, #fff 00%, #fff 100%);
    border: solid 0.1rem #82CFD0;
    border-radius: 5vh;
    outline: none;
    transition: background 450ms ease-in;
}
.power::-webkit-slider-thumb {
    opacity: 0
}
/*
.power[type=range]::-webkit-slider-runnable-track {
    height: 5em;
    border: none;
    border-radius: 0.5em;
    background: #EFEFEF;
    color: #13bba4;
    box-shadow: none;
    -webkit-appearance: none;
    width: 10em;
}
.power[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #777;
    opacity: 0.75;
    transform: translateY(-10px);
    width: 0;
    height: 0;
    border-radius: 4em;
    border: none;
    box-shadow: 10px 0 0 80px #43e5f7;
    background: #434343;
    -webkit-appearance: none;
    cursor: ew-resize;
    overflow: hidden;
}
.power::-webkit-slider-runnable-track {
    background: green;
}

*/
.buttons{
    height:10vh;
    justify-content: space-evenly;
    display: flex;
}
button{
    border-radius: 50%;
    border: none;
    height: 8vh;
    width: 8vh;
    background: #82CFD0;
    opacity: 0.5;
}
